body {
	background: #000329;
}

#root {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
}
.Qoute-Container {
	background: linear-gradient(to right, #ffa17f, #00223e);
	border-radius: 20%;
	margin: 20px;
	opacity: 60%;
}
.Qoute {
	vertical-align: middle;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	border: #20e4b3;
	border-style: solid;
	border-radius: 20%;
	margin: 10px;
	padding: 10px;
	width: 50vw;
	height: 50vh;
}
.btn {
	background: rgb(255, 32, 32);
	border-radius: 30%;
	box-shadow: 5px black;
	font-family: monospace;
}
#qoute_text {
	color: rgb(255, 255, 255);
	font-family: "Times New Roman", Times, serif;
	font-size: xx-large;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}
#qoute_author {
	color: rgb(255, 238, 0);
	font-family: fantasy;
	font-style: italic;
	font-size: x-large;
	text-align: right;
	text-decoration: underline;
}
