body {
	background: #000329;
}

#root {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
}

.Qoute {
	vertical-align: middle;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	border: #20e4b3;
	border-style: solid;
	border-radius: 20px;
	margin: 10px;
	padding: 10px;
	width: 50vw;
	height: 50vh;
}
.btn {
	background: tomato;
	border: none;
	border-radius: 10px;
	font-family: monospace;
}
#qoute_text {
	color: springgreen;
	font-family: "Times New Roman", Times, serif;
	font-size: x-large;
	text-align: center;
}
#qoute_author {
	color: tomato;
	font-family: fantasy;
	font-style: italic;
	font-size: larger;
	text-align: right;
	text-decoration: underline;
}
